{% extends 'base.html'%}
    
{% block content %}

    
                    {% for pokemon in page_obj %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">

                                <a href = "{% url 'details' pokemon.name %}"><p style="font-size: 20px">{{pokemon.name}}</p></a>
                                <br>
                                <a href = "{% url 'add' pokemon.name %}"><p style="font-size: 12px">Add to your Pokemons</p></a> 
 

                            </div>
                        </article>
                    </div>
                    {% endfor %}

    <footer class="footer">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </footer>
{% endblock %}
               
